body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

#app {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

input[type="file"] {
  border: 1px solid #ddd;
  padding: 10px;
  width: calc(100% - 22px);
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

#drop-area.drag-over {
  border-color: #000;
}

select, input[type="range"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#preview-container button {
  width: 30px;
  font-size: 20px;
}


label {
  margin-top: 10px;
  display: block;
}

.preview-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  margin-top: 20px;
}

#preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.preview-image {
  max-width: 80%;
  max-height: 80%;
  border: 1px solid #ddd;
}

#close-preview {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #app {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 20px;
  }

  input[type="file"], select, input[type="range"] {
      font-size: 16px;
      padding: 8px;
  }

  button {
      font-size: 16px;
      padding: 12px 18px;
  }

  #drop-area {
      padding: 15px;
  }

  #preview-container {
      padding: 10px;
  }

  .preview-image {
      max-width: 100%;
      height: auto;
  }

  #close-preview {
      font-size: 22px;
  }
}